[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
google-cloud-pubsub = '*'

[dev-packages]
autopep8 = '*'
flake8 = '*'
mock = '*'
pytest = '*'
pytest-mock = '*'

[requires]
python_version = '3.7'
